
.swiper-container {
    position: relative;
    top: 60px;
    width: 100%;
    height: auto;
}
.product-card {
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    position: relative;
    background: #ffffff;
    margin: 5px;
    gap: 25px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    overflow: hidden; /* برای جلوگیری از بیرون زدن محتوا در حالت hover */
}
/* استایل تصویر داخل کارت */
.product-card a {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}
.product-card a img{
    width: 100%;
    height: auto;
}
/* محتویات کارت */
.product-card-content {
    font-family: 'Vazirmatn', sans-serif;
    padding: 10px;
    height: 100%;
}
.product-card-content h3 {
    font-size: 1.2rem;
    font-family: 'Vazirmatn', sans-serif;
    color: #333;
    line-height: 1.5;
    font-weight: 600;
    margin: 0;
}
.product-card-content p {
    margin: 5px 0;
    font-size: 1rem;
    font-family: 'Vazirmatn', sans-serif;
    color: #555;
}
.product-card-content .price {
    font-weight: bold;
    color: #333;
}
.product-card-content .stock {
    color: #666;
}
.star-rating {
    display: flex;
    gap: 5px;
    cursor: pointer;
}
.active {
    color: #ffd700; /* رنگ طلایی برای ستاره‌های فعال */
}
.discount-badge{
    padding: 10px;
    font-family: 'Vazirmatn', sans-serif;
    color: #da1b60;
}