
.swiper-container {
    position: relative;
    top: 60px;
    width: 100%;
    height: auto;
}
.slide-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.slide-item:hover {
    transform: translateY(-5px);
}

.slide-item img {
    width: 100%;
    max-width: 250px;
    max-height: 250px;
    border-radius: 8px;
    object-fit: cover;
}
.slide-item h3 {
    font-family: 'Vazirmatn', sans-serif;
    padding: 10px;
    font-size: 1rem;
    color: #333;
}